//colors
$white: #efeee9;
$beige: #eeebdf;
$main-font-color: #373e42;
$sub-font-color: #455a64;

//includes
@import "mixins/mixins.scss";
@import "layout/fonts.scss";
@import "layout/base.scss";
@import "components/*";