body, html {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p{
  padding: 0;
  margin: 0 0 20px 0;
  color: $sub-font-color;
  text-align: left;
  margin-bottom: 40px;
  font-size: 16px;
}