@font-face {
  font-family: bernier;
  src: url('/assets/fonts/bernier/BERNIERRegular-Regular.otf?')format('opentype'),
    url('/assets/fonts/bernier/BERNIERDistressed-Regular.otf?')format('opentype'),
    url('/assets/fonts/bernier/BERNIERShade-Regular.otf?')format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin bernier() {
  font-family: bernier, serif;
}

@font-face {
  font-family: awesome;
  src: url('/assets/fonts/awesome/FontAwesome.otf?')format('opentype'),
      url('/assets/fonts/awesome/fontawesome-webfont.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin awesome() {
  font-family: awesome, serif;
}

@font-face {
  font-family: roboto;
  src: url('/assets/fonts/roboto/Roboto-Regular.ttf')format('truetype'),
    url('/assets/fonts/roboto/Roboto-Bold.ttf')format('truetype'),
    url('/assets/fonts/roboto/Roboto-BoldItalic.ttf')format('truetype'),
    url('/assets/fonts/roboto/Roboto-Italic.ttf')format('truetype'),
    url('/assets/fonts/roboto/Roboto-Light.ttf')format('truetype'),
    url('/assets/fonts/roboto/Roboto-LightItalic.ttf')format('truetype'),
    url('/assets/fonts/roboto/Roboto-Medium.ttf')format('truetype'),
    url('/assets/fonts/roboto/Roboto-MediumItalic.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin roboto() {
  font-family: roboto, serif;
}

@font-face {
  font-family: opensans;
  src: url('/assets/fonts/opensans/OpenSans Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin opensans() {
  font-family: opensans, serif;
}
