.about {
  @extend %clearfix;
  /*flex: 2;*/
  display: flex;
  flex-direction: row;
}

.about__left, .about__right {
  width: 50%;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
}

.about__left {
  background: $white;
  order: 1;
  align-items: stretch;
}

.about__right {
  background: $beige;
  padding-top: 40px;
  order: 2;
  align-items: stretch;
}
