.arrow-down {
  width: 26px;
  height: 16px;
  position: absolute;
  align-items: flex-end;
  z-index: 20;
}

.arrow-down__link{

}

.arrow-down__pic {
  display: block;
  width: 100%;
  height: 100%;
  fill: #fff;
  opacity: .7;

  &:hover{
    opacity: 1;
  }

}