.authorisation__container{
  display: flex;
  justify-content: flex-end;
}

.authorisation_link{
  height: auto;
  display: block;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  background: #ffffff;
  color: #00bfa5;
  text-decoration: none;

}