.block-subtitle {
  line-height: 1em;
  font-size: 35px;
  color: $sub-font-color;
  @include bernier();
  padding: 40px 85px;
  position: relative;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  &:after, &:before {
    content: "";
    display: block;
    @include centered(y);
    width: 22px;
    height: 5px;
    background: rgba($sub-font-color, .2);
  }

  $margin: 30px;

  &:after {
    right: $margin;
  }

  &:before {
    left: $margin;
  }
}
