.block-title {
  font-size: 63px;
  color: $main-font-color;
  @include bernier();
  padding: 60px 85px;
  position: relative;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  &:after, &:before {
    content: "";
    display: block;
    @include centered(y);
    width: 22px;
    height: 5px;
    background: rgba($main-font-color, .2);
  }

  $margin: 40px;

  &:after {
    right: $margin;
  }

  &:before {
    left: $margin;
  }
}

.block-title__bg{
  fill: #e6e5e0;
  position: absolute;
  display: block;
  width: 100%;
}