.circle-0 {
  stroke-dasharray: .001 282.6;
}
.circle-10 {
  stroke-dasharray: 28.26 282.6;
}
.circle-15 {
  stroke-dasharray: 42.39 282.6;
}
.circle-20 {
  stroke-dasharray: 56.52 282.6;
}
.circle-25 {
  stroke-dasharray: 70.65 282.6;
}
.circle-30 {
  stroke-dasharray: 84.78 282.6;
}
.circle-35 {
  stroke-dasharray: 98.91 282.6;
}
.circle-40 {
  stroke-dasharray: 113.04 282.6;
}
.circle-45 {
  stroke-dasharray: 127.17 282.6;
}
.circle-50 {
  stroke-dasharray: 141.3 282.6;
}
.circle-55 {
  stroke-dasharray: 155.43 282.6;
}
.circle-60 {
  stroke-dasharray: 169.56 282.6;
}
.circle-65 {
  stroke-dasharray: 183.69 282.6;
}
.circle-70 {
  stroke-dasharray: 197.82 282.6;
}
.circle-75 {
  stroke-dasharray: 211.95 282.6;
}
.circle-80 {
  stroke-dasharray: 226.08 282.6;
}
.circle-85 {
  stroke-dasharray: 240.21 282.6;
}
.circle-90 {
  stroke-dasharray: 254.34 282.6;
}
.circle-95 {
  stroke-dasharray: 268.47 282.6;
}
.circle-100 {
  stroke-dasharray: 282.6 282.6;
}