.contacts{
  display: block;
  background: #ffffff;
  opacity: 0.85;
  width: 380px;
  height: 290px;
  text-align: center;
  @include centered('both');
}

.google-map{
  height: 975px;
  position: relative;
}

.contacts__list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.contacts__item{
  margin: 0 0 15px 40px;
  flex: 0 0 auto;
  text-align: left;
}

.contact-row{
  /*flex-direction: row;
  align-content: flex-start;*/
}

.contact-row__icon{
  margin-right: 10px;
  width: 24px;
  height: 24px;
  fill: #00bea4;
  float: left;
}