.footer{
  width: 100%;
  height: 147px;
  background: #000000;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  z-index: 20;
}

.footer__row{
  padding: 0 30px;
  display: flex;
  height: 73px;
  justify-content: space-between;
  align-items: center;
  &:nth-child(1){
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
}

.footer__col{

}

.footer__col-left{
  width: 50%;
  align-items: center;

}

.footer__menu{

}

.footer__col-right{
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.footer__text{
  @include roboto();
  font-weight: 300;
  color: #b1b3b4;
  font-size: 1em;
}