.hamburger{

  display: flex;
}

.hamburger__icon{

  fill: #ffffff;
  height: 35px;
  width: 40px;
  margin: 28px 30px 0 0;
  transition: all .5s;

  &:hover{
    opacity: 0.50;
    cursor: pointer;
    transition: all .5s;
  }
}