.hero {
  /*overflow: hidden;*/

}

.hero__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.hero__head{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.hero__socials{

}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.hero__title {
  display: flex;
  @include centered();
  align-items: center;
  width: 100%;
}

.hero__user {
  @include centered();
  text-align: center;
}

.hero__scroll-button {
  bottom: 50px;
  @include centered(x);

}

.hero__container-blured{
  width: 380px;
  height: 400px;
  background: #ffffff;
  opacity: 0.8;
  @include centered();
  border-radius: 5px;
  padding: 40px;
  text-align: center;
  overflow: hidden;
}