.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.menu__item{
  list-style: none;
  margin-right: 40px;
  &:hover{
    opacity: 0.5;
  }
}

.menu__link{
  color: #ffffff;
  text-decoration: none;
  @include roboto();
  font-weight:600;
}
