.skills-list{

}

.skills-list__item{

  margin-bottom: 30px;

}

.skills-row{

}

.skills-row__title{
  font-size: 28px;
  @include roboto();
  color: $sub-font-color;
  text-align: left;
}

.skills-row__list{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.skills-row__item{
  /*border: 1px solid #ccc;*/
}

.skill{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  margin-top: 10px;
}

.skill__circle{
  fill: none;
  stroke-width: 15;
  position: absolute;
  width: 110px;
  height: 110px;

}

.skill__circle-first{
  stroke: #dfdcd5;
}

.skill__circle-second{
  stroke: #1bb696;
  /*stroke-dasharray: .0010 282.6;*/
}

.skill__title{
  display: block;
  text-align: center;
  width: 80px;
  color: #00bfa5;
  font-size: 13px;
  @include roboto();
  font-weight: 600;
  /*@include centered();*/
  /*position: absolute;*/
}