.socials{
  justify-content: flex-start;
  display: inline-flex;
  flex-direction: row;
}

.socials__item{
  margin: 35px 0 0 30px;
}

.socials__link{

}

.socials__icon{
  fill: #ffffff;
  height: 24px;
  width: 35px;
  justify-content: space-around;
  transition: all .5s;
  &:hover{
    opacity: 0.50;
    transition: all .5s;
  }
}

.socials__rounded{

}

.socials__icon-rounded circle {
  fill: #96a3a4;
  fill-opacity: 1;
  stroke: #96a3a4;
}

.socials__item-rounded{
}

.socials__icon-rounded{
  margin: 0 0 0 5px;
  fill: #000000;
  transition: all .5s;
  height: 36px;
  width: 36px;
  justify-content: space-around;

  &:hover{
    transition: all .5s;
    fill: #fff;
    fill-opacity: 1;
    cursor: pointer;
    & circle{
      fill: #000000;
    }

  }
}


.socials__icon-green{
  margin: 0;
  fill: #00bfa5;
  fill-opacity: 0.5;
  height: 24px;
  width: 35px;
  justify-content: space-around;
  transition: all .5s;
  &:hover{
    fill-opacity: 1;
    transition: all .5s;
  }
}