.triangle {
  display: block;
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: 0;
  bottom: 100%;

  &_fill {
    &_white {
      fill: $white;
    }
    &_beige {
      fill: $beige;
    }
  }
}

.triangle__svg {
  height: 100%;
  width: 100%;
  fill: inherit;
}