.user-description{
  width: 450px;
  display: inline-block;

  &__avatar {
    background: (url("/assets/img/content/155312_600.png"));
    display: block;
    width: 444px;
    height: 391px;
    display: inline-block;
  }

}

.user-description-right{
  width: 550px;
  display: inline-block;
}

