.user{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__pic {
  width: 147px;
  height: 147px;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
  display: inline-block;
}

.user__name {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 35px;
  @include roboto();
  font-weight: 600;
}

.user__desc {
  color: #ccdadd;
  font-size: 1em;
  @include roboto();
  font-weight: 300;
}