extends ../_template

block variables
  - var title = 'Обо мне'

block content
  section.section.hero
    img.hero__bg(src="/assets/img/bg/hero.png")
    .hero__container
      .hero__head
        .hero__socials
          ul.socials
            each val,index in {'vk':'https://vk.com/reshetarivan', 'github':'https://github.com/lexexpert', 'in':'https://www.linkedin.com/in/ivan-reshetar-90b82556/'}
              li.socials__item
                a(href=val, target="_blank").socials__link
                  svg.socials__icon
                    use(xlink:href="/assets/img/sprite.svg#"+index)
        .hamburger.hero__menu
          svg.hamburger__icon
            use(xlink:href="/assets/img/sprite.svg#hamburger")

    .hero__title
      .section-title
        svg.section-title__pic
          use(xlink:href="/assets/img/sprite.svg#portfolio_header")
      .user.hero__user
        .user__pic
          img(src="/assets/img/content/user.png", alt="").user__pic-img
        .user__description
          .user__name Иван Решетар
          .user__desc Личный сайт веб-разработчика
    .arrow-down.hero__scroll-button
      a(href="#").arrow-down__link
        svg.arrow-down__pic
          use(xlink:href="/assets/img/sprite.svg#arrow_down")
  section.section.about
    .about__left
      .triangle.triangle_fill_white.about__left-triangle
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="0,0 0,150 1000,150")
      .about__left-title
        svg.block-title__bg
          use(xlink:href="/assets/img/sprite.svg#about_header")
        +block-title('about_header', 'Обо мне')
      .about__left-content
        .user-description
          .user-description__image
            img.user-description__avatar
          .user-description__title
            .block-subtitle Кто я
          .user-description__text
            p Я веб разработчик из Ужгрода. Мне 34 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .about__right
      .triangle.triangle_fill_beige.about__left-triangle
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="1000,0 1000,150 0,150")
      .about__right-title
        .block-subtitle Чем я могу быть <br>вам полезен
      .user-description-right
        .user-description__text
          p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .about__right-content
          ul.skills-list
            -
              var categories = {
                "Frontend":{
                  "HTML5":"15",
                  "CSS3":"30",
                  "JavaScript &jQuery":"50"
                },
                "Backend":{
                  "PHP":"80",
                  "MySQL":"60",
                  "Node.js &npm":"20"
                },
                "Workflow":{
                  "Git":"30",
                  "Gulp":"50",
                  "Bower":"10"
                }
              };
            each val,index in categories
              li.skills-list__item
                .skills-row
                  .skills-row__title #{index}
                    ul.skills-row__list
                      each item,index in val
                        - var class_name = 'skill__circle-second circle-'+item;
                        li.skills-row__item
                          .skill
                            svg(viewBox="0 0 110 110").skill__circle
                              circle(r="45", cx="50%", cy="50%", fill="none").skill__circle-first
                              circle(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)", class=class_name)
                            .skill__title #{index}
  section.section.map
    .map__google
      iframe(src="https://snazzymaps.com/embed/58", width="100%", height="975px", style="border:none;")
      script $( document ).ready(function() {$( document ).find('iframe').disable();})
    .contacts
      .contacts__title
        .block-subtitle Контакты
      ul.contacts__list
        -
          var contacts = [
          ['skype', 'reshetarivan'],
          ['envelope', 'ivanreshetar@gmail.com'],
          ['phone', '+38 050 970 53 98'],
          ['map_marker', 'г.Ужгород, ул.Оноковская, д.18, кв.37']
          ]

        each item in contacts
          li.contacts__item.contact-row
            svg.contact-row__icon
              use(xlink:href="/assets/img/sprite.svg#"+item[0])
            .contact-row__content #{item[1]}
  footer.footer
    .footer__row
      .footer__col.footer__col-left
        .footer__menu
          nav.menu
            each val,index in {'Мои работы':'/portfolio.html', 'Обо мне':'/about.html', 'Блог':'/blog.html', 'Авторизация':'/login.html'}
              li.menu__item
                a(href=val).menu__link #{index}
      .footer__col.footer__col-right
        .footer__socials
          ul.socials.socials_rounded
            // each val,index in {'vk':'https://vk.com/reshetarivan','github-alt':'https://github.com/lexexpert','linkedin':'https://www.linkedin.com/in/ivan-reshetar-90b82556/'}
            li.socials__item-rounded
              a(href=val, target="_blank").socials__link
                svg(viewBox="-1 -1 52 52").socials__icon-rounded
                  circle(cx="25", cy="25", r="25", fill="none"  style="stroke-width: 1; stroke: #fff")
                  circle(cx="25", cy="25", r="25", fill="#ccc" )
                  path(d="M25,0C11.193,0,0,11.193,0,25c0,13.807,11.193,25,25,25c13.807,0,25-11.193,25-25C50,11.193,38.807,0,25,0zM36.76,28.255c2.406,2.234,2.906,3.313,2.984,3.453c0,0,1,1.75-1.109,1.766l-4,0.063c-0.859,0.172-2-0.609-2-0.609c-1.5-1.031-2.906-3.703-4-3.359c0,0-1.125,0.359-1.094,2.766c0.016,0.516-0.234,0.797-0.234,0.797s-0.281,0.297-0.828,0.344h-1.797c-3.953,0.25-7.438-3.391-7.438-3.391s-3.813-3.938-7.156-11.797c-0.219-0.516,0.016-0.766,0.016-0.766s0.234-0.297,0.891-0.297l4.281-0.031c0.406,0.063,0.688,0.281,0.688,0.281s0.25,0.172,0.375,0.5c0.703,1.75,1.609,3.344,1.609,3.344c1.563,3.219,2.625,3.766,3.234,3.438c0,0,0.797-0.484,0.625-4.375c-0.063-1.406-0.453-2.047-0.453-2.047c-0.359-0.484-1.031-0.625-1.328-0.672c-0.234-0.031,0.156-0.594,0.672-0.844c0.766-0.375,2.125-0.391,3.734-0.375c1.266,0.016,1.625,0.094,2.109,0.203c1.484,0.359,0.984,1.734,0.984,5.047c0,1.063-0.203,2.547,0.563,3.031c0.328,0.219,1.141,0.031,3.141-3.375c0,0,0.938-1.625,1.672-3.516c0.125-0.344,0.391-0.484,0.391-0.484s0.25-0.141,0.594-0.094l4.5-0.031c1.359-0.172,1.578,0.453,1.578,0.453c0.234,0.641-0.5,2.141-2.344,4.594C34.588,26.302,34.26,25.927,36.76,28.255z")
                svg(viewBox="-1 -1 52 52").socials__icon-rounded
                  circle(cx="25", cy="25", r="25", style="stroke-width: 1; stroke: #fff")
                  circle(cx="25" cy="25" r="25" fill="#fff")
                  g
                  path(d="M30.5,24.5c-1.031,0-2.016,0.188-3.047,0.328C26.641,24.953,25.828,25,25,25s-1.641-0.047-2.453-0.172C21" +
                  ".531,24.688,20.531,24.5,19.5,24.5c-2.547,0-4,2.109-4,4.5c0,4.781,4.375,5.516,8.188,5.516h2.625c3.813,0,8.188-0.734,8.188-5.516C34.5,26.609,33.047,24.5,30.5,24.5z M20,32c-1.406,0-2-1.859-2-3s0.594-3,2-3s2,1.859,2,3S21.406,32,20,32z M30,32c-1.406,0-2-1.859-2-3s0.594-3,2-3s2,1.859,2,3S31.406,32,30,32z")
                  path(d="M25,0C11.192,0,0,11.193,0,25s11.192,25,25,25s25-11.193,25-25S38.808,0,25,0z M37.047,31.422C34.984,35" +
                  ".594,29.313,36,25.25,36c-4.125,0-10.141-0.359-12.281-4.578C12.172,29.844,12,27.984,12,26.25c0-2.281,0.625-4.438,2.125-6.188c-0.281-0.859-0.422-1.766-0.422-2.656c0-1.172,0.266-2.344,0.797-3.406c2.469,0,4.047,1.078,5.922,2.547C22,16.172,23.625,16,25.25,16c1.469,0,2.953,0.156,4.375,0.5c1.859-1.453,3.438-2.5,5.875-2.5c0.531,1.063,0.797,2.234,0.797,3.406c0,0.891-0.141,1.781-0.422,2.625C37.375,21.797,38,23.969,38,26.25C38,27.984,37.828,29.828,37.047,31.422z")
                svg(viewBox="-1 -1 52 52").socials__icon-rounded
                  circle(cx="25", cy="25", r="25", style="stroke-width: 1; stroke: #fff")
                  circle(cx="25", cy="25", r="25", fill="#fff")
                  path(d="M25,0C11.192,0,0,11.193,0,25s11.192,25,25,25s25-11.193,25-25S38.808,0,25,0z M19.453,34.136h-5.156V18" +
                  ".651h5.156V34.136z M16.875,16.542h-0.031c-1.734,0-2.844-1.188-2.844-2.672c0-1.516,1.156-2.672,2.906-2.672c1.766,0,2.859,1.156,2.875,2.672C19.797,15.354,18.672,16.542,16.875,16.542z M38,34.136h-5.141v-8.281c0-2.078-0.75-3.5-2.609-3.5c-1.422,0-2.266,0.953-2.641,1.875c-0.125,0.344-0.172,0.797-0.172,1.266v8.641h-5.141c0.063-14.031,0-15.484,0-15.484h5.141v2.204c0.678-1.061,1.898-2.563,4.641-2.563c3.391,0,5.922,2.219,5.922,6.969V34.136z")
    .footer__row
      .footer__col.footer__col-left
        .footer__text Я веб-разработчик из Ужгорода, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
      .footer__col.footer__col-right
        .footer__text © Иван Решетар | Cоздано с любовью в LoftSchool | 2017